<h1 class="text-center mt-4">Listing all Blogs</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Blog ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">View</th>
      <th scope="col"> Edit </th>
       <th scope="col"> Delete </th>
      
   
    </tr>
  </thead>
     
     <% @articles.each do |article| %> 
     <%# <% if logged_in? && article.user == current_user %> 
    <tr>
  
      <td><%= article.id %></td> 
      <td><%= article.title %> </td>
      <td><%= article.description %></td>
      <td><% if logged_in? && article.user == current_user %>
      
           <%= link_to "View Blog", article_path(article), class:"btn btn-outline-success" %>
           <% end%>
      </td>
      <td><% if logged_in? && article.user == current_user %>
           <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
           <% end%>
      </td>
          <td><% if logged_in? && article.user == current_user %>
          <%= link_to "Delete", article_path(article), class: "btn 
            btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
           <% end%>
           
      </td>
    </tr>
    <% end %>
  <%# <% end %> 

  <tbody>
 
 
 
   
  </tbody>
</table>
 
 <div class="flickr_pagination ">
 <%= will_paginate @articles  %>
 </div>


 



