<div id="page-content">

<h1 class="text-center mt-4">New Blog</h1>
<%= render 'shared/errors', obj: @article %>
<%= form_with scope: :article,class: "shadow p-3 mb-3 bg-info rounded", url: articles_path, local: true do |f| %>

<div class="row justify-content-center">
    <div class="col-10">
        <div class="form-group row">
        <div class="col-2">
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          </div>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of Blog" %>
          </div>
        </div>
  <div class="form-group row">
    <div class="col-2">
        
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
        </div>
          <div class="col-10"> 
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of Blogs" %>
          </div>
        </div>
  <div class="form-group row justify-content-center">
          <%= f.submit "Save Blog", class: "btn btn-outline-light btn-lg" %>
        </div>
<% end %>
</div>